* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: robotoS;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.left {
  background: #111;
  position: relative;
}

#renderer-container {
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-top {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  flex-direction: column;
  gap: 1rem;
}

img {
  width: 400px;
  height: 400px;
}

.right-bottom {
  padding: 1rem;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#resetView {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background: white;
  font-size: 1em;
}

@font-face {
  font-family: robotoS;
  src: url(./fonts/RobotoSerif.ttf);
}

.map {
  width: auto;
  height: 100%;
}